*{
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family:monospace;
  font-weight: 900;
  

}

body{
  background-color: red;
}
header{
width: 100%;
height: 100vh;
display: flex;
justify-content: space-between;
padding: 0 0 0 50px;
overflow: hidden;
}



.navbar{
  width: 60%;
  height: 100%;
  overflow: hidden;
  nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{

      font-size: 30px;
      span{
        color:#73CDFF;

      }
    }
    .nav-list{
      display: flex;
    }
    li{
     margin: 0 20px;
     list-style: none;
     a{
       color: black;
     }
    }
  }

.header-main-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;

  .header-title-box{
    font-size: 30px;
    span{
      color:#73CDFF;

    }
   
  }
  p{
    font-size: 20px;
    margin: 20px 0;
  }
  a{
    color: #73CDFF;
    font-size: 20px;
    border: 1px solid #73CDFF;
    width: 230px;
   padding: 10px 30px;
   text-decoration: none;
   margin: 20px 0;

  }
}

.content-wrapper{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows:100px 100px;
  grid-gap: 30px 100px ;
  p{
    font-size: 20px;
    font-weight: 900;
  }
}

}


.header-img-container {
  grid-area: img;
  width: 40%;
  height: 100%;
  
}

.header-img-container> svg{
  width: 100%;
  height: 100%;
  position: relative;
  left: 0px;
  bottom: 100px;
  z-index: 100;
  transform: scaleX(2);
   transform: rotate(-2deg);

  &:nth-child(2){
    position: absolute;
    transform: scale(.71);
    left: 520px;
    bottom: 110px;
   
  }

}

.header-main-content{

  grid-area:main-content;

}


// main container1

.main-container1{
  width: 100%;
  height: 140vh;
  background-color: cadetblue;
  display:flex;
  flex-wrap: wrap;

  
  .img-box{
    width: 50%;
    height: 60%;
    background-color: red;
    display: flex;
    justify-content: center;
    .teal-fon{
      width: 350px;
      height: 100%;
    background: #73CDFF66;
    display: flex;
    align-items: center;
    svg{
      width: 500px;
      position: absolute;
      left: 130px;

    }

    }
  }

.text-container{ 
  width: 50%;
    height: 60%;
  background-color: firebrick;
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  .content-wrapper{
  display: grid;
  grid-template-columns: 250px 250px;
  grid-template-rows:100px 100px;
  grid-gap: 50px 50px ;
  justify-content: center;
  align-items: center;
  h1{
    grid-column: 1 / span 2;
    text-align: right;
    font-size: 40px;
  }
  p{
 
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    a{
      display: block;
    }
    &:nth-child(6){
      grid-column: 1 / span 2;
      position: relative;
    
    }
  }
  
}
 

}

.sertfikats{
width: 100%;
height: 40%;
  background-color: darkblue;
}

}

